<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer!</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

      <p> Enter your phrase:</p>
      <form method="post" action= "/piglatinize">
      <input name="user_phrase"></input>
        <br>
        <button type="submit" value "sumbit">Submit</button>
      </form>

  </body>
</html>
